@font-face {
  font-family: Oswald;
  src: url(Oswald-VariableFont_wght.ttf);
}
body {
  font-family: Oswald;
  color: rgb(0, 81, 128);
  margin: 0px;
}
.wrapper {
  display: flex;
  background-color: white;
  border: 20px solid rgb(0, 81, 128);
  min-height: 100vh;
  flex-wrap: wrap;
}
.boxTitle {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  padding-top: 10px;
  padding-left: 30px;
  max-width: 50%vw;
  height: auto;
}
.boxTerminal {
  font-size: 50px;
  font-weight: 700;
  text-align: right;
  align-content: flex-end;
  padding-top: 0px;
  padding-left: 700px;
  width: 100%;
  max-height: 25px;
}
.boxLogo {
  display: flex;
  justify-content: right;
  padding-top: 10px;
  padding-left: 800px;
  max-width: 50%vw;
  height: 200px;
}
ul {
  list-style: none;
}
.boxInstructions {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-left: 0px;
  padding-top: 100px;
  width: 100vw;
}
.boxCash {
  background-color: #4981ce;
  color: black;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 28px;
  padding-right: 28px;
  max-width: 33%vw;
}
.boxEtransfer {
  background-color: #4beddc;
  color: black;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 30px;
  padding-right: 30px;
  max-width: 33%vw;
}
.boxDonate {
  background-color: #9bc4e2;
  color: black;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  max-width: 33%vw;
}
.boxNav {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 100%;
}
.nav_links {
  list-style: none;
}
.nav_links li {
  display: inline-block;
  padding: 0px 70px;
  text-align: center;
  font-size: 50px;
  font-weight: 700;
}
.boxHelp {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100vw;
}
