@font-face {
  font-family: Oswald;
  src: url(Oswald-VariableFont_wght.ttf);
}
body {
  font-family: Oswald;
  color: rgb(0, 81, 128);
  margin: 0px;
}

.wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  border: 20px solid rgb(0, 81, 128);
  min-height: 100vh;
  flex-wrap: wrap;
}
h1 {
  padding: 70px;
}
ul {
  list-style: none;
}
.boxTitle {
  font-size: 30px;
  font-weight: 700;
  text-align: left;
  /* padding-top: 10px;
  padding-left: 30px; */
  max-width: 50%vw;
  height: auto;
}
.boxTerminal {
  justify-content: right;
  margin: 50px;
  font-size: 50px;
  font-weight: 700;
  text-align: right;
  align-content: flex-end;

  /* padding-left: 700px; */
  width: 100%;
  max-height: 50px;
}
.boxLogo {
  display: flex;
  justify-content: center;
  align-content: flex-end;
  /* padding-top: 50px;
  padding-left: 800px; */
  max-width: 50%vw;
  height: 200px;
}
.boxInstructions {
  font-size: 40px;
  font-weight: 700;
  text-align: left;
  padding: 70px;
  /* padding-left: 0px;
  padding-top: 0px; */
  width: 100vw;
}
.boxScan {
  background-color: navy;
  color: black;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  max-width: 50%vw;
  margin: 90px;
}
.boxSubTotal {
  flex-direction: row;
  background-color: lightseagreen;
  color: black;
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-right: 180px;
  padding-left: 181px;
  max-width: 50%vw;
  margin: 90px;
}
#orderBox {
  /* display: flex; */
}
.boxNav {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  background-color: rgb(230, 224, 255);
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 100%;
}
#processRefundButton {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  background-color: rgb(230, 224, 255);
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 100%vw;
}
.boxHelp {
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  padding-left: 0px;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100vw;
}
#myProgress {
  width: 100%;
  background-color: grey;
}

#myBar {
  width: 1%;
  height: 30px;
  background-color: rgb(0, 81, 128);
}
#simulateScanButton {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  background-color: navy;
  padding-top: 100px;
  padding-bottom: 105px;
  padding-left: 192px;
  padding-right: 192px;
  width: 100%vw;
}
.boxProgressBar {
  font-size: 50px;
  font-weight: 700;
  text-align: center;
  background-color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  min-width: 100%;
}
